
body {
    margin: 0;
}
h1 {
    font-family: "Avenir Book", Arial, sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #333;
    text-align: center;
    margin-top: 40px;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.product-card {
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    aspect-ratio: 1 / 1;
    text-align: left;
}

.product-card img {
    background: #FAFAFA;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.product-card h2 {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0 0 5px;
    color: #000;
}

.product-card .price {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    margin-bottom: 15px;
}

.colors {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: currentColor;
    position: relative;
}

.color.selected::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #000;
    transform: translate(-50%, -50%);
    z-index: -1;
}



.color.yellow { background: #E6CA97; }
.color.white { background: #D9D9D9; }
.color.rose { background: #E1A4A9; }

.color-name {
    font-family: "Avenir Book", Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.rating {
    font-family: "Avenir Book", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #444;
}
.rating span {
    margin-left: 5px;
}

.stars-outer {
    position: relative;
    display: inline-block;
    color: #ccc;
    font-size: 14px;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: gold;
}

.stars-outer::before,
.stars-inner::before {
    content: "★★★★★";
}

.carousel-inner {
    width: 90%;
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    padding: 15px;
    filter: invert(1);
}

.carousel-control-prev-icon.custom-arrow,
.carousel-control-next-icon.custom-arrow {
    background-color: black;
}

@media (max-width: 768px) {
    .product-list {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    .product-card {
        flex: 0 0 80%;
        scroll-snap-align: start;
    }
}
